<!DOCTYPE html>
<html>
  
<head>
    <title>Passport Photo Generator</title>
</head>
  
<body>
    <h1>Passport Photo Generator</h1>
   
    <form action="/uploadProfilePicture" 
      enctype="multipart/form-data" method="POST">
        <p> Welcome to Passport Photo Generator! </p>
        <p> To use this website, upload a photo below consisting of just one person. </p>
        <p> The program will take at most 30 seconds to run, and will output a properly rotated version of your photo with a white background that satisfies the U.S. passport requirements!</p>
        <p> Once it finishes running, the processed picture will be displayed. However the uploaded and processed image will be deleted</p>
        <span>Upload Profile Picture:</span>  
        <input type="file" name="mypic" required/> 
        <input type="submit" value="submit"> 
    </form>
</body>
  
</html>